/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.navbar-fixed nav .brand-logo {
  font-weight: 100;
  font-size: 1.3em;
}

.nav-wrapper .text-logo {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.parallax img {
  height: 60em;
}

.parallax-container {
  height: 45em;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.font-helvetica {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-div {
  width: 40%;
    position: relative;
    margin: 0 auto;
      top: 15em;
      opacity: 0.86;
 }
 
 
 .without-margin {
  padding : 0.5em !important;
 }
 
 .card-small-custom {
  height: 16em !important;
  margin-bottom: 2em;
    min-width: 16em;
  min-height: 16em;
 }
 
   .showbox {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .showbox.slideright:hover {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  }
  
.without-margin-footer {
  margin-top : 0 !important;
  padding-top: 0 !important;
 }
 
@media (min-width: 1000px)
.img-wrap {
  -mox-box-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  -webkit-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
}
@media (min-width: 900px)
.img-wrap {
  -mox-box-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
}
@media (min-width: 768px)
.img-wrap {
  -mox-box-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
}
.img-wrap {
  position: relative;
  -mox-box-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.img-wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  max-height: 102px;
  padding-top: 1em;
}
img.responsive-img {
  max-width: 100%;
  height: auto;
}
img {
  border: 0;
}


.h2-black {
  color: black !Important;
  font-size: xx-large !Important;
}

.card-basic-custom {
  
  width: 100% !Important; 
  
}

.card-eighty {
  
  width: 85% !Important; 
  
}

.tam-wrap {
  
  height: 100px;
  width: 100px;
  
}

.div-href {
  height: 2em !Important;
  background-color: white;
}

div#about_column1wide {
  float: left;
  width: 464px;
  height: 106px;
  background: #fff url(images/about.gif) right top no-repeat;
  border: 0px solid #666;
  margin: 69px 0 0 0;
}


.aboutme-tem {
  height: 805px !Important;
}


.border-left-custon{
  
  border-left: solid #D0D0D0 ;
  
}


  
  .padding-icon{
   
     padding-left: 10px;
  padding-right: 10px;
    
  }
  
   .padding-icon-more-left{
   
     padding-left: 12px;
  padding-right: 12px;
    
  }
  
     .padding-icon-home{
   
     padding-left: 7px;
  padding-right: 6px;
    
  }
  
blockquote-blue{
  
    border-left: 5px solid #03a9f4 !important;
}

.font-h4{
  
  font-weight: 200 !Important;
  
}

.color-font-blue{
  
    color: #03a9f4 !important;
}

.padding-center{
  
  padding-bottom: 10em;
  padding-top: 10em;
  
}

@media (max-width: 768px){
.padding-center{
  
  padding-bottom: 0px;
  padding-top: 0px;
  
}

.aboutme-tem {
  height: 100% !important;
}
}